h1{
    text-align: center;
    margin-bottom: 30px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

select{
    width: 20vw;
    font-size: 2vw;
}


label{
    font-size: 2vw;
}

textarea{
    border-radius: 6px;
    font-size: 2vw;
}

button{
    width: 150px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 8px;
}

.catdiff{
    display: flex;
    gap: 30px;
}

@media screen and (max-width:850px) {
    .catdiff{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    select{
        width: 70vw;
        font-size: 2vw;
        height: 20px;
    }

    label{
        font-size: 4vw;
    }

    textarea{
        border-radius: 6px;
        font-size: 3vw;
    }
}