<h1>Creer une QuizzCard</h1>

<div class="main">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form">
            <div class="catdiff">
                <div>
                    <label for="categorie"> categorie </label>
                    <select name="categorie" [(ngModel)]="categories">
                        <option value="science et technologie">science et technologie</option>
                        <option value="géographie">geographie</option>
                        <option value="médecine">medecine</option>
                        <option value="botanique">botanique</option>
                        <option value="histoire">histoire</option>
                        <option value="zoo">animale</option>
                    </select>
                </div>

                <div>
                    <label for="difficulté"> difficulté </label>
                    <select name="difficulté" id="" [(ngModel)]="difficulte">
                        <option value="facile">facile</option>
                        <option value="moyenne">moyenne</option>
                        <option value="difficile">difficile</option>
                        <option value="expert">expert</option>
                        <option value="génie">genie</option>
                    </select>
                </div>
            </div>

            <div>
                <label for="question">saisissez la question</label><br>
                <textarea name="question" id="" cols="47" rows="2" [(ngModel)]="question"></textarea>
            </div>

            <div>
                <label for="reponse">saisissez la reponse</label><br>
                <textarea name="reponse" id="" cols="47" rows="1" [(ngModel)]="reponse"></textarea>
            </div>

            <div>
                <label for="description  "> rajoutez une description(<span style="color:red;">optionelle</span>)</label><br>
                <textarea name="description" id="" cols="47" rows="4" [(ngModel)]="description"></textarea>
            </div>    
            
            <div>
                <button type="submit">Créer</button>
            </div>
        </div>
    </form>
</div>